.navbar{
    top: 0px;
    position: fixed;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111; 

}.logo{
width: 80px;
position: fixed;
left: 20px;
}
.avatar{
    width: 25px;
    right: 25px;
    position: fixed;
}